@{
    ViewData["Title"] = "Adminpanel";
}

<h2>Adminpanel</h2>
<p>Här kan du hantera webbplatsens innehåll, t.ex. produkter och beställningar.</p>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="AdminProducts" asp-action="Index">🧁 Hantera produkter</a>
    </li>
</ul>
