@{
    ViewData["Title"] = "Bageri";
}

<section class="container text-center mt-5">
    <h1>Bageri</h1>
    <p>Hos oss hittar du alltid nybakat – doften av bröd möter dig redan vid dörren!</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/bread.jpg" class="img-fluid rounded shadow" alt="Levainbröd" />
            <h4>Levainbröd</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/bulle.jpg" class="img-fluid rounded shadow" alt="Kanelbullar" />
            <h4>Kanelbullar</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/bread2.jpg" class="img-fluid rounded shadow" alt="Surdegsbaguette" />
            <h4>Surdegsbaguette</h4>
        </div>
    </div>
</section>
