@{
    ViewData["Title"] = "Lunch";
}

<section class="container text-center mt-5">
    <h1>Dagens Lunch</h1>
    <p>Varje vardag serverar vi hemlagad lunch med nybakat bröd och kaffe.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/soppa.jpg" class="img-fluid rounded shadow" alt="Soppa med bröd" />
            <h4>Soppa med bröd</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/lorranie.jpg" class="img-fluid rounded shadow" alt="Quiche Lorraine" />
            <h4>Quiche Lorraine</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/sallad1.jpg" class="img-fluid rounded shadow" alt="Sallad med kyckling" />
            <h4>Kycklingsallad</h4>
        </div>
    </div>
</section>
