@{
    ViewData["Title"] = "Tårtor";
}

<section class="container text-center mt-5">
    <h1>Tårtor</h1>
    <p>Vi bakar våra tårtor med kärlek, äkta grädde och handgjorda dekorationer.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/cake.jpg" class="img-fluid rounded shadow" alt="Prinsesstårta" />
            <h4>Prinsesstårta</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/chokladcake.jpg" class="img-fluid rounded shadow" alt="Chokladmoussetårta" />
            <h4>Chokladmoussetårta</h4>
        </div>
        <div class="col-md-4">
            <img src="~/images/jurdgubbscake.jpg" class="img-fluid rounded shadow" alt="Jordgubbstårta" />
            <h4>Jordgubbstårta</h4>
        </div>
    </div>
</section>
